In [23]:
from lib.utils import read_file_to_object

In [24]:
checkpoint = '/home/michael/Workspaces/exp--pytorch-transformers/data/trained/2021-07-25-2022'
df = read_file_to_object(f'{checkpoint}/scores.pkl')
df.tail()

,text,summary,summary_predicted,summary_oracle,r1p,r1r,r1f,r2p,r2r,r2f,...,oracle_r1f,oracle_r2p,oracle_r2r,oracle_r2f,oracle_r3p,oracle_r3r,oracle_r3f,oracle_rLp,oracle_rLr,oracle_rLf
20,"Ahead of this weekend's Premier League action,...",Danny Welbeck faces fitness test for Arsenal f...,danny [UNK] will face a fitness test on the kn...,Arsenal forward Danny Welbeck will face a fitn...,0.230769,0.173077,0.197802,0.026316,0.019608,0.022472,...,0.166667,0.069767,0.058824,0.063830,0.000000,0.000000,0.000000,0.136364,0.115385,0.125000
21,A Disney World employee allegedly inappropriat...,"Taylor Davis, 20, was seen in the Kissimmee, F...","taylor davis, 20, was seen in the [UNK], flori...",Taylor Davis 20 was seen in the Kissimmee Flor...,0.581818,0.444444,0.503937,0.388889,0.295775,0.336000,...,0.490566,0.545455,0.253521,0.346154,0.468750,0.214286,0.294118,0.676471,0.319444,0.433962
22,Baseball may not have a reputation for being a...,Thursday's match between two baseball heavywe...,[UNK] ejected a total of five players from bot...,Umpires ejected a total of five players from b...,0.318841,0.478261,0.382609,0.147059,0.222222,0.176991,...,0.468085,0.234043,0.244444,0.239130,0.108696,0.113636,0.111111,0.229167,0.239130,0.234043
23,It sparked a hate campaign and was dubbed so t...,"A statue of Lucille Ball in Celeron, New York ...",the statue of the i love lucy statue was unvei...,But the statue of Lucille Ball which was so of...,0.370370,0.222222,0.277778,0.115385,0.068182,0.085714,...,0.392157,0.125000,0.159091,0.140000,0.036364,0.046512,0.040816,0.210526,0.266667,0.235294
24,The potential domestic auction for Liverpool's...,Raheem Sterling's potential move from Liverpoo...,"[UNK] sterling could be sold by chelsea, manch...",The potential domestic auction for Liverpool s...,0.520833,0.257732,0.344828,0.212766,0.104167,0.139860,...,0.531073,0.316456,0.260417,0.285714,0.192308,0.157895,0.173410,0.375000,0.309278,0.338983

In [25]:
df.mean()

/tmp/ipykernel_76206/3380063166.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

r1p           0.369203
r1r           0.322306
r1f           0.333373
r2p           0.144200
r2r           0.124562
r2f           0.129271
r3p           0.078157
r3r           0.065989
r3f           0.069106
rLp           0.262586
rLr           0.229371
rLf           0.237051
oracle_r1p    0.478171
oracle_r1r    0.483230
oracle_r1f    0.464936
oracle_r2p    0.252452
oracle_r2r    0.246961
oracle_r2f    0.240417
oracle_r3p    0.159953
oracle_r3r    0.151243
oracle_r3f    0.149163
oracle_rLp    0.324454
oracle_rLr    0.320123
oracle_rLf    0.310845
dtype: float64

In [26]:
print(df.iloc[7]['summary'])

A graphic on NBC's Today show on Wednesday misidentified Saturday Night Live creator Lorne Michaels as 'Lauren' The flub by a graphics person, made on the East Coast feed of the morning show, was corrected for broadcasts in other time zones and online . Today interviewed 70-year-old Michaels for a story  on New York gathering for influential people listed by TIME magazine .

In [27]:
print(df.iloc[7]['summary_predicted'])

today had interviewed 70 - year - old [UNK] michaels for a story matt [UNK] did on a new york gathering for people listed by time magazine as the 100 most influential in the world. the [UNK] married father - of - three made up part of the titans category on the list compiled by time, which included rapper kanye west, apple ceo tim cook and kim [UNK].