In [18]:
import sys, os
import pandas as pd
sys.path.append('..')

In [19]:
from lib.utils import read_file_to_object

In [54]:
def get_model_score(scores, model_name = 'model', prefix = ''):
    return {
        'model': model_name, 
        'r1': '{:.2f}'.format(scores[f'{prefix}r1p']),
        'r2': '{:.2f}'.format(scores[f'{prefix}r2p']),
        'r3': '{:.2f}'.format(scores[f'{prefix}r3p']),
        'rL': '{:.2f}'.format(scores[f'{prefix}rLp'])
    }

def create_report(checkpoint = '2021-07-25-2022'):
    checkpoint_path = f'../data/trained/{checkpoint}/scores.pkl'
    df = read_file_to_object(checkpoint_path)
    
    scores = df.mean()
    report_scores = pd.DataFrame(
        columns = ['model', 'r1', 'r2', 'r3', 'rL'],
        data = [
            get_model_score(scores),
            get_model_score(scores, 'Oracle (256)', 'oracle_'),
            get_model_score(scores, 'Oracle', 'oracle_orig_')
        ]
    )

    return report_scores, df

def print_sample(df, id):
    print('SUMMARY')
    print(df.iloc[id]['summary'])
    print()
    print('---')
    print()
    print('MODEL SUMMARY')
    print(df.iloc[id]['summary_predicted'])

In [70]:
report, df = create_report('2021-07-31-0635')
report

          model    r1    r2    r3    rL
0         model  0.28  0.16  0.12  0.26
1  Oracle (256)  0.45  0.31  0.25  0.38
2        Oracle  0.45  0.31  0.25  0.38

In [71]:
print(report.to_latex())

\begin{tabular}{llllll}
\toprule
{} &         model &    r1 &    r2 &    r3 &    rL \\
\midrule
0 &         model &  0.28 &  0.16 &  0.12 &  0.26 \\
1 &  Oracle (256) &  0.45 &  0.31 &  0.25 &  0.38 \\
2 &        Oracle &  0.45 &  0.31 &  0.25 &  0.38 \\
\bottomrule
\end{tabular}

In [47]:
print_sample(df, 16)

SUMMARY
Medhi Benatia was taken off against Bayern Leverkusen on Wednesday . The Bayern Munich defender will be out for between two and four weeks . Bayern face Porto in the Champions League on April 15 and April 21 . Benatia described his injury as an 'occupational hazard' on Twitter .

---

MODEL SUMMARY
[UNK] the [UNK] defender could miss both legs of their champions league quarter - final against [UNK]. the [UNK] defender could miss both legs of their champions league quarter - final against [UNK] on [UNK]. the [UNK] international said he could miss both legs of their champions league quarter - final.

In [12]:
print_sample(df.sort_values(by=['rLf']), 22)

SUMMARY
NatWest Twenty20 Blast launched at Edgbaston on Thursday . Andrew Flintoff was present with a player from each county . Former England captain backed under-fire Test captain Alastair Cook .

---

MODEL SUMMARY
cook, however, is at a much lower ebb as his quest for a long overdue test century - to add to his record 25 - brought him two more failures at the top of the order in the opening match of england 's series in the west indies. the blast 's stock is at a new high, in its second year and 12th for the twenty20 domestic format, with the england and wales cricket board announcing much - improved advance ticket sales and a clutch of overseas superstars such as brendon mccullum set to take part. andrew flintoff shares a joke with warwickshire and england 's chris woakes at the t20 blast launch.