In [1]:
import sys, os
import pandas as pd
sys.path.append('..')

In [2]:
from lib.utils import read_file_to_object

In [3]:
def get_model_score(scores, model_name = 'model', prefix = ''):
    return {
        'model': model_name, 
        'r1': '{:.2f}'.format(scores[f'{prefix}r1f']),
        'r2': '{:.2f}'.format(scores[f'{prefix}r2f']), 
        'r3': '{:.2f}'.format(scores[f'{prefix}r3f']),
        'rL': '{:.2f}'.format(scores[f'{prefix}rLf'])
    }

def create_report(checkpoint = '2021-07-29-1458'):
    checkpoint_path = f'../data/trained/{checkpoint}/scores.pkl'
    df = read_file_to_object(checkpoint_path)
    
    scores = df.mean()
    report_scores = pd.DataFrame(
        columns = ['model', 'r1', 'r2', 'r3', 'rL'],
        data = [
            get_model_score(scores),
            get_model_score(scores, 'Oracle (256)', 'oracle_'),
            get_model_score(scores, 'Oracle', 'oracle_orig_')
        ]
    )

    return report_scores, df

def print_sample(df, id):
    print('SUMMARY')
    print(df.iloc[id]['summary'])
    print()
    print('---')
    print()
    print('MODEL SUMMARY')
    print(df.iloc[id]['summary_predicted'])

In [16]:
report, df = create_report('2021-07-19-1004')
report

          model    r1    r2    r3    rL
0         model  0.22  0.06  0.02  0.16
1  Oracle (256)  0.25  0.06  0.02  0.18
2        Oracle  0.25  0.06  0.02  0.18

In [17]:
print(report.to_latex())

\begin{tabular}{llllll}
\toprule
{} &         model &    r1 &    r2 &    r3 &    rL \\
\midrule
0 &         model &  0.22 &  0.06 &  0.02 &  0.16 \\
1 &  Oracle (256) &  0.25 &  0.06 &  0.02 &  0.18 \\
2 &        Oracle &  0.25 &  0.06 &  0.02 &  0.18 \\
\bottomrule
\end{tabular}

In [15]:
print_sample(df, 16)

SUMMARY
Australian fashion designer Alex Perry won't show at this year's MBFWA . The designer is excited to kick back and enjoy the shows from front row . This will be the designer's second MBFWA he has missed in two decades . Perry is now focusing on global expansion in Asia and Middle East .

---

MODEL SUMMARY
the designer revealed in february that he would not be presenting a collection at the sydney event this week, and revealed to daily mail australia on sunday that he was enjoying taking a breather. despite this year marking the 20th anniversary of mbfwa, perry is taking in the fashions from the comfort of the front row, after focusing on his international efforts of late. perry pulls out of presenting : acclaimed designer alex perry opts out of showing at this year 's mbfwa.

In [12]:
print_sample(df.sort_values(by=['rLf']), 22)

SUMMARY
NatWest Twenty20 Blast launched at Edgbaston on Thursday . Andrew Flintoff was present with a player from each county . Former England captain backed under-fire Test captain Alastair Cook .

---

MODEL SUMMARY
cook, however, is at a much lower ebb as his quest for a long overdue test century - to add to his record 25 - brought him two more failures at the top of the order in the opening match of england 's series in the west indies. the blast 's stock is at a new high, in its second year and 12th for the twenty20 domestic format, with the england and wales cricket board announcing much - improved advance ticket sales and a clutch of overseas superstars such as brendon mccullum set to take part. andrew flintoff shares a joke with warwickshire and england 's chris woakes at the t20 blast launch.