In [32]:
import sys, os
import pandas as pd
sys.path.append('..')

In [33]:
from lib.utils import read_file_to_object

In [34]:
def get_model_score(scores, model_name = 'model', prefix = ''):
    return {
        'model': model_name, 
        'r1': '{:.2f}'.format(scores[f'{prefix}r1f']),
        'r2': '{:.2f}'.format(scores[f'{prefix}r2f']), 
        'r3': '{:.2f}'.format(scores[f'{prefix}r3f']),
        'rL': '{:.2f}'.format(scores[f'{prefix}rLf'])
    }

def create_report(checkpoint = '2021-07-29-1458'):
    checkpoint_path = f'../data/trained/{checkpoint}/scores.pkl'
    df = read_file_to_object(checkpoint_path)
    
    scores = df.mean()
    report_scores = pd.DataFrame(
        columns = ['model', 'r1', 'r2', 'r3', 'rL'],
        data = [
            get_model_score(scores),
            get_model_score(scores, 'Oracle (256)', 'oracle_'),
            get_model_score(scores, 'Oracle', 'oracle_orig_')
        ]
    )

    return report_scores, df

def print_sample(df, id):
    print('SUMMARY')
    print(df.iloc[id]['summary'])
    print()
    print('---')
    print()
    print('MODEL SUMMARY')
    print(df.iloc[id]['summary_predicted'])

In [4]:
report, df = create_report('2021-07-30-0034')
report

/tmp/ipykernel_220617/3119066244.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  scores = df.mean()

          model    r1    r2    r3    rL
0         model  0.29  0.17  0.13  0.27
1  Oracle (256)  0.43  0.29  0.23  0.37
2        Oracle  0.43  0.29  0.23  0.37

In [34]:
report.to_latex()

'\\begin{tabular}{llllll}\n\\toprule\n{} &         model &    r1 &    r2 &    r3 &    rL \\\\\n\\midrule\n0 &         model &  0.10 &  0.06 &  0.05 &  0.09 \\\\\n1 &  Oracle (256) &  0.47 &  0.34 &  0.28 &  0.42 \\\\\n2 &        Oracle &  0.47 &  0.34 &  0.29 &  0.42 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [13]:
print_sample(df, 16)

SUMMARY
Bei einem Krisentreffen in Berlin einigen sich Deutschland und Österreich auf Maßnahmen gegen den massiven Transitverkehr in Richtung Süden. An den umstrittenen Fahrverboten will Tirol aber festhalten.

---

MODEL SUMMARY
österreich und österreich einigen sich an der grenze zu verbessern. [UNK] der [UNK] will die [UNK] für lastwagen bleiben.

In [31]:
print_sample(df.sort_values(by=['rLf']), 22)

SUMMARY
Noch liegt der Garantiezins für Lebensversicherungen bei 0,9 Prozent. Doch spätestens 2021 könnte er weiter deutlich fallen. Damit würde Riestern schlagartig unattraktiv.

---

MODEL SUMMARY
weil die zinsen so niedrig sind, müssen sich die [UNK] bald komplett aus dem verkauf der staatlich [UNK] verabschieden. [UNK] das befürchten manager wichtiger [UNK].