In [14]:
import sys, os
import pandas as pd
sys.path.append('..')

In [7]:
from lib.utils import read_file_to_object

In [24]:
def get_model_score(scores, model_name = 'model', prefix = ''):
    return {
        'model': model_name, 
        'r1': '{:.2f}'.format(scores[f'{prefix}r1f']),
        'r2': '{:.2f}'.format(scores[f'{prefix}r2f']), 
        'r3': '{:.2f}'.format(scores[f'{prefix}r3f']),
        'rL': '{:.2f}'.format(scores[f'{prefix}rLf'])
    }

def create_report(checkpoint = '2021-07-29-1458'):
    checkpoint_path = f'../data/trained/{checkpoint}/scores.pkl'
    df = read_file_to_object(checkpoint_path)
    
    scores = df.mean()
    report_scores = pd.DataFrame(
        columns = ['model', 'r1', 'r2', 'r3', 'rL'],
        data = [
            get_model_score(scores),
            get_model_score(scores, 'Oracle (256)', 'oracle_'),
            get_model_score(scores, 'Oracle', 'oracle_orig_')
        ]
    )

    return report_scores, df

In [33]:
report, df = create_report('2021-07-30-0034')
report

/tmp/ipykernel_102973/2317261103.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  scores = df.mean()

          model    r1    r2    r3    rL
0         model  0.10  0.06  0.05  0.09
1  Oracle (256)  0.47  0.34  0.28  0.42
2        Oracle  0.47  0.34  0.29  0.42

In [34]:
report.to_latex()

'\\begin{tabular}{llllll}\n\\toprule\n{} &         model &    r1 &    r2 &    r3 &    rL \\\\\n\\midrule\n0 &         model &  0.10 &  0.06 &  0.05 &  0.09 \\\\\n1 &  Oracle (256) &  0.47 &  0.34 &  0.28 &  0.42 \\\\\n2 &        Oracle &  0.47 &  0.34 &  0.29 &  0.42 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [37]:
print(df.iloc[16]['summary'])

England gewinnt ein turbulentes Viertelfinale bei der Frauen-WM. Der Gegner aus Kamerun sorgt kurz vor der Halbzeit beinahe für einen Spielabbruch.

In [38]:
print(df.iloc[15]['summary_predicted'])

die [UNK] hat nach eigenen angaben im nordwesten [UNK] die ältere schwester des toten [UNK] abu [UNK] festgesetzt. [UNK] die festnahme von [UNK] schwester ist ein weiteres beispiel für den erfolg unserer [UNK]. [UNK] der türkische präsidenten [UNK] zufolge soll die schwester von [UNK] schwester [UNK] worden sein. [UNK] die [UNK] ist ein weiteres beispiel für den erfolg der [UNK]. [UNK] die [UNK] der türkische schwester ist ein weiteres beispiel für den erfolg. [UNK] die [UNK] der [UNK]. [UNK] die [UNK] der [UNK] soll die [UNK]. [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der [UNK]. [UNK] der [UNK] soll die [UNK] der [UNK]. [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der [UNK]. [UNK] der [UNK] ist ein weiteres [UNK]. [UNK] der [UNK] die [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der [UNK]. [UNK] der [UNK] soll die [UNK] der [UNK]. [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der [UNK]. [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der [UNK] soll die [UNK] der [UNK]. [UNK] der [UNK]. [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der [UNK]. [UNK] der [UNK] ist ein [UNK] der [UNK]. [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der [UNK]. [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der [UNK]. [UNK] der [UNK]. [UNK] der [UNK] die [UNK] der